default:
  suites:
    photo_owner:
      contexts: [ PhotosOwnerContext ]
      filters:
        role: photos owner
    functional:
      paths:    [ %paths.base%/tests/functional ]
      contexts: [ FunctionalContext ]
