parameters:
    database_driver: pdo_pgsql
    database_host: 33.33.33.10
    database_port: null
    database_name: photoarchive
    database_user: photoarchive
    database_password: test123
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 123MySecre7Toke2a32!ka
    debug_toolbar: true
    debug_redirects: false
    use_assetic_controller: true
